<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タイトル</title>

    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href="../static/css/sauna-shop.css" th:href="@{/css/4xx.css}" rel="stylesheet" />

</head>
<body>

<figure>
  <div class="sad-mac"></div>
  <figcaption>
    <span class="sr-text">メンテナンス中・・・</span>
    <span class="e"></span>
    <span class="r"></span>
    <span class="r"></span>
    <span class="o"></span>
    <span class="r"></span>
    <span class="_4"></span>
    <span class="_0"></span>
    <span class="_4"></span>
    <span class="n"></span>
    <span class="o"></span>
    <span class="t"></span>
    <span class="f"></span>
    <span class="o"></span>
    <span class="u"></span>
    <span class="n"></span>
    <span class="d"></span>
  </figcaption>
</figure>

</body>
</html>