<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タイトル</title>

    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href="../static/css/sauna-shop.css" th:href="@{/css/5xx.css}" rel="stylesheet" />

</head>
<body>

<figure>
  <div class="sad-mac"></div>
  <figcaption>
  <h3>メンテナンス中・・・・・・・・・・・・・・</h3>
    <span class="sr-text">メンテナンス中・・・</span>
    <span class="_5"></span>
    <span class="_x"></span>
    <span class="_x"></span>
  </figcaption>
</figure>

</body>
</html>